:root {
  --primary-color: rgba(0, 147, 121, 1);
  --secondary-color: rgba(1, 109, 90, 1);
  --grey-1-color: rgba(184, 184, 184, 1);
  --grey-2-color: rgba(134, 134, 134, 1);
  --white-color: rgba(255, 255, 255, 1);
}
