.div-wrapper {
  background-color: #000324;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .overlap-wrapper {
  background-color: #000324;
  overflow: hidden;
  width: 1920px;
  height: 8365px;
}

.div-wrapper .overlap {
  position: relative;
  width: 2851px;
  height: 5546px;
  left: -491px;
}

.div-wrapper .img {
  position: absolute;
  width: 1920px;
  height: 1328px;
  top: 3605px;
  left: 491px;
  object-fit: cover;
}

.div-wrapper .image {
  position: absolute;
  width: 1920px;
  height: 870px;
  top: 4676px;
  left: 491px;
}

.div-wrapper .img-2 {
  position: absolute;
  width: 1920px;
  height: 1218px;
  top: 0;
  left: 491px;
  object-fit: cover;
}

.div-wrapper .rectangle {
  position: absolute;
  width: 1920px;
  height: 439px;
  top: 1496px;
  left: 491px;
  background-color: #000424;
}

.div-wrapper .div {
  position: absolute;
  width: 1920px;
  height: 885px;
  top: 612px;
  left: 491px;
  background: linear-gradient(180deg, rgba(0, 4, 36, 0) 0%, rgb(0, 4, 36) 100%);
}

.div-wrapper .vector {
  position: absolute;
  width: 1294px;
  height: 715px;
  top: 2258px;
  left: 802px;
}

.div-wrapper .group {
  position: absolute;
  width: 2851px;
  height: 1944px;
  top: 1764px;
  left: 0;
}

.div-wrapper .overlap-group {
  position: relative;
  height: 2103px;
  top: -100px;
}

.div-wrapper .medium-shot-friends {
  position: absolute;
  width: 1920px;
  height: 1135px;
  top: 304px;
  left: 491px;
  object-fit: cover;
}

.div-wrapper .rectangle-2 {
  position: absolute;
  width: 1920px;
  height: 545px;
  top: 0;
  left: 491px;
}

.div-wrapper .view {
  position: absolute;
  width: 2851px;
  height: 1043px;
  top: 290px;
  left: 0;
  filter: blur(400px);
  background: linear-gradient(180deg, rgba(16.72, 0, 255, 0.5) 0%, rgba(59.7, 23.8, 136, 0.5) 100%);
}

.div-wrapper .rectangle-3 {
  position: absolute;
  width: 2093px;
  height: 672px;
  top: 1372px;
  left: 441px;
  backdrop-filter: blur(100px) brightness(100%);
  -webkit-backdrop-filter: blur(100px) brightness(100%);
  background: linear-gradient(180deg, rgba(0, 4, 36, 0) 0%, rgb(0, 4, 36) 100%);
}

.div-wrapper .rectangle-4 {
  position: absolute;
  width: 1920px;
  height: 870px;
  top: 1233px;
  left: 491px;
}

.div-wrapper .rectangle-5 {
  position: absolute;
  width: 1920px;
  height: 870px;
  top: 1009px;
  left: 491px;
}

.div-wrapper .view-2 {
  position: absolute;
  width: 1096px;
  height: 286px;
  top: 1380px;
  left: 906px;
}

.div-wrapper .text-wrapper {
  position: absolute;
  top: 0;
  left: 486px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1.92px;
  line-height: normal;
}

.div-wrapper .p {
  top: 75px;
  left: 199px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 40px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .span {
  color: #ffffff;
}

.div-wrapper .text-wrapper-2 {
  color: #9563ff;
}

.div-wrapper .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  position: absolute;
  width: 1090px;
  height: 117px;
  top: 169px;
  left: 0;
}

.div-wrapper .text {
  position: relative;
  align-self: stretch;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.div-wrapper .text-wrapper-3 {
  font-weight: 500;
  color: #e2e2e2;
}

.div-wrapper .text-wrapper-4 {
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
}

.div-wrapper .group-2 {
  position: absolute;
  width: 850px;
  height: 307px;
  top: 2506px;
  left: 1096px;
}

.div-wrapper .text-wrapper-5 {
  top: 0;
  left: 220px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-6 {
  top: 157px;
  left: 434px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-7 {
  top: 211px;
  left: 99px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 32px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-8 {
  top: 274px;
  left: 0;
  filter: blur(2px);
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffcc;
  font-size: 28px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-9 {
  top: 51px;
  left: 252px;
  filter: blur(2px);
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffcc;
  font-size: 28px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-10 {
  top: 224px;
  left: 526px;
  filter: blur(2px);
  font-family: "Pretendard-Regular", Helvetica;
  font-weight: 400;
  color: #ffffffcc;
  font-size: 28px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .group-3 {
  position: absolute;
  width: 712px;
  height: 131px;
  top: 474px;
  left: 1098px;
}

.div-wrapper .overlap-2 {
  position: absolute;
  width: 706px;
  height: 93px;
  top: 38px;
  left: 0;
}

.div-wrapper .text-wrapper-11 {
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff33;
  font-size: 78px;
  text-align: center;
  letter-spacing: 72.54px;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-12 {
  position: absolute;
  top: 0;
  left: 206px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 78px;
  text-align: center;
  letter-spacing: 3.9px;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .div-2 {
  top: 0;
  left: 126px;
  font-family: "Pretendard-Light", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-13 {
  font-weight: 300;
}

.div-wrapper .text-wrapper-14 {
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
}

.div-wrapper .text-wrapper-15 {
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
}

.div-wrapper .view-3 {
  position: absolute;
  width: 914px;
  height: 151px;
  top: 2087px;
  left: 790px;
}

.div-wrapper .text-wrapper-16 {
  top: 127px;
  left: 21px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #e2e2e2;
  font-size: 20px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-17 {
  top: 54px;
  left: 21px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-18 {
  position: absolute;
  top: 0;
  left: 21px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1.92px;
  line-height: normal;
}

.div-wrapper .group-4 {
  position: absolute;
  width: 433px;
  height: 8px;
  top: 104px;
  left: -2px;
}

.div-wrapper .text-wrapper-19 {
  top: 3949px;
  left: 1151px;
  font-family: "Pretendard-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .research-survey {
  position: absolute;
  top: 3901px;
  left: 1331px;
  font-family: "Pretendard-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1.92px;
  line-height: normal;
}

.div-wrapper .overlap-group-wrapper {
  position: absolute;
  width: 1926px;
  height: 427px;
  top: 3015px;
  left: 485px;
}

.div-wrapper .overlap-3 {
  position: relative;
  height: 427px;
}

.div-wrapper .rectangle-6 {
  position: absolute;
  width: 1926px;
  height: 325px;
  top: 102px;
  left: 0;
  background-color: #000424;
}

.div-wrapper .ellipse {
  position: absolute;
  width: 253px;
  height: 253px;
  top: 0;
  left: 837px;
  background-color: #000424;
  border-radius: 126.5px;
}

.div-wrapper .kakaotalk {
  position: absolute;
  width: 223px;
  height: 223px;
  top: 3030px;
  left: 1326px;
  object-fit: cover;
}

.div-wrapper .text-wrapper-20 {
  top: 3282px;
  left: 1320px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #a35cff;
  font-size: 64px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-21 {
  position: absolute;
  top: 3406px;
  left: 1934px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-22 {
  top: 3282px;
  left: 965px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 64px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-23 {
  top: 3282px;
  left: 2085px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ff6464;
  font-size: 64px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-24 {
  position: absolute;
  top: 3406px;
  left: 1484px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ff6464;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-25 {
  top: 3282px;
  left: 1675px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #5f5cff;
  font-size: 64px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-26 {
  position: absolute;
  top: 3406px;
  left: 713px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #5f5cff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-27 {
  top: 3282px;
  left: 555px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #ff6464;
  font-size: 64px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
